@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[radial-gradient(#272727_1px,#15131c_1.20px)] bg-[length:24px_24px];
  }
}

.tremor-SelectBox-root {
  box-shadow: none;
  background-color: #15131d;
  border-width: 1px !important;
  border-color: rgba(156,163,175,0.25) !important;
  color: white
}

.tremor-SelectBox-root:hover {
  background-color: #1d1c2d !important;
}

.tremor-SelectBox-input::placeholder {
  color: white !important;
}

.tremor-SelectBox-root + div {
  box-shadow: none;
  border-width: 1px !important;
  border-color: rgba(156,163,175,0.25) !important;
}